<mat-toolbar style="background: white;">
  <div
    style="
      background-color: #00bcd4;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    "
  >
    <span
      class="text-white mt-1 font-weight-light"
      style="display: flex; justify-content: center;"
      >LW</span
    >
  </div>

  <span class="ml-2 font-weight-light">Lakecity Waters</span>

  <button class="ml-auto" mat-button [matMenuTriggerFor]="usermenu">
    Neeraj
    <i class="fas fa-angle-down ml-2"></i>
  </button>

  <button
    mat-icon-button
    class="example-icon favorite-icon mr-2"
    aria-label="Example icon-button with heart icon"
  >
    <i class="fas fa-bell" matBadge="5" style="font-size: 1.5em;"></i>
  </button>

  <mat-menu #usermenu>
    <button mat-menu-item>
      <i class="fas fa-user mr-2"></i>
      Accountant
    </button>
    <button mat-menu-item>
      <i class="fas fa-cog mr-2"></i>
      Settings
    </button>
  </mat-menu>

  <button
    class="mr-2"
    mat-raised-button
    color="accent"
    (click)="openLogoutDialog()"
  >
    Logout
  </button>
</mat-toolbar>
