<div style="scroll-behavior: smooth !important; scroll-snap-type: y mandatory;">

  <nav class="navbar">
    <ul>
      <li><a href="profile#red">Red</a></li>
      <li><a href="profile#blue">Blue</a></li>
      <li><a href="profile#green">Green</a></li>
    </ul>
  </nav>

  <section id="red" style="background: #ff5f45" class="fwh-slide">
    <h2 style="color: #f4f4f4;">Section 1</h2>
    
  </section>
  <section id="blue" style="background: #22a6e4" class="fwh-slide">
    <h2 style="color: #f4f4f4;" >Section 2</h2>
    
  </section>

  <section id="green" style="background: #22e4b3" class="fwh-slide">
    <h2 style="color: #f4f4f4;">Section 3</h2>
    
  </section>
</div>
