<div class="container-fluid mt-2">
  <div class="row mb-3">
    <div class="col-lg-2">
      <mat-form-field appearance="outline">
        <mat-label>Invoice date</mat-label>
        <input
          matInput
          required
          [(ngModel)]="invoiceDate"
          [matDatepicker]="picker"
          (click)="picker.open()"
          (dateChange)="checkDueDate()"
          onkeydown="event.preventDefault()"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-lg-2">
      <mat-form-field appearance="outline">
        <mat-label>Due date</mat-label>
        <input
          matInput
          [(ngModel)]="dueDate"
          [matDatepicker]="picker_due"
          (click)="picker_due.open()"
          (dateChange)="checkDueDate()"
          onkeydown="event.preventDefault()"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker_due"
        ></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker_due></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-lg-2">
      <p class="m-0">
        <mat-form-field
          class="my-form-field"
          appearance="outline"
          style="width: 100%"
        >
          <mat-label>Supply state</mat-label>
          <mat-select required name="supplyState" [(ngModel)]="supplyState">
            <mat-option *ngFor="let state of states" [value]="state">
              {{ state }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </div>

    <div class="col-lg-2">
      <p class="m-0">
        <mat-form-field
          class="my-form-field"
          appearance="outline"
          style="width: 100%"
        >
        <mat-label>Supply place</mat-label>
          <input
            name="supplyPlace"
            [(ngModel)]="supplyPlace"
            matInput
            required
            type="text"
          />
        </mat-form-field>
      </p>
    </div>
  </div>

  <mat-accordion class="example-headers-align">
    <mat-expansion-panel
      [expanded]="open"
      (opened)="open = true"
      (closed)="expansionClosed()"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> {{ clientPreview }} </mat-panel-title>
        <mat-panel-description>
          {{ combinedAddress }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row">
        <!-- Customer Details -->

        <div class="col col-lg-4">
          <div class="row">
            <div class="col">
              <h5>Customer</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <p class="m-0">
                <mat-form-field
                  class="my-form-field"
                  appearance="outline"
                  style="width: 100%"
                >
                  <mat-label>Select / Type Customer name</mat-label>

                  <input
                    matInput
                    required
                    [(ngModel)]="client"
                    type="text"
                    name="customerName"
                    [matAutocomplete]="autoClient"
                    [formControl]="clientControl"
                  />

                  <mat-autocomplete
                    #autoClient="matAutocomplete"
                    [displayWith]="getClientOptionText"
                  >
                    <mat-option
                      *ngFor="let option of clientObservable | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <p class="m-0">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>GSTIN / PAN</mat-label>
                  <input
                    matInput
                    [(ngModel)]="client.gst"
                    type="text"
                    name="customerID"
                  />
                </mat-form-field>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-5">
              <p>
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Mobile No.</mat-label>
                  <input
                    matInput
                    [(ngModel)]="client.mobile"
                    required
                    type="text"
                    name="customerMobile"
                  />
                </mat-form-field>
              </p>
            </div>
            <div class="col-lg-7 pl-0">
              <p>
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Email-Id</mat-label>
                  <input
                    matInput
                    [(ngModel)]="client.email"
                    type="email"
                    name="customerEmail"
                  />
                </mat-form-field>
              </p>
            </div>
          </div>
        </div>

        <!-- Billing Address -->

        <div class="col col-lg-4">
          <div class="row">
            <div class="col">
              <h5>Billing Address</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <p class="m-0">
                <mat-form-field
                  class="my-form-field"
                  appearance="outline"
                  style="width: 100%"
                >
                  <mat-label>Address line 1</mat-label>

                  <input
                    matInput
                    required
                    [(ngModel)]="client.address.line1"
                    type="text"
                    name="billingAddress_1"
                  />
                </mat-form-field>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <p class="m-0">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Address line 2</mat-label>
                  <input
                    matInput
                    [(ngModel)]="client.address.line2"
                    type="text"
                    name="billingAddress_2"
                  />
                </mat-form-field>
              </p>
            </div>
            <div class="col-lg-3 pl-0">
              <p class="m-0">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Pincode</mat-label>
                  <input
                    matInput
                    required
                    [(ngModel)]="client.address.pin"
                    type="number"
                    name="billingAddress_pincode"
                  />
                </mat-form-field>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 pr-0">
              <p>
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>District</mat-label>
                  <input
                    matInput
                    required
                    [(ngModel)]="client.address.district"
                    type="text"
                    name="billingAddress_district"
                  />
                </mat-form-field>
              </p>
            </div>
            <div class="col-lg-6">
              <p>
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>State</mat-label>
                  <input
                    matInput
                    required
                    [(ngModel)]="client.address.state"
                    type="text"
                    name="billingAddress_state"
                  />
                </mat-form-field>
              </p>
            </div>
          </div>
        </div>

        <!-- Shipping Address -->

        <div class="col col-lg-4">
          <div class="row">
            <div class="col-lg-6">
              <h5>Shipping Address</h5>
            </div>
            <div class="col-lg-6" style="display: grid; justify-content: end">
              <mat-checkbox class="example-margin" (change)="sameAsBuyerCheck()"
                >Same as Buyer address</mat-checkbox
              >
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <p class="m-0">
                <mat-form-field
                  class="my-form-field"
                  appearance="outline"
                  style="width: 100%"
                >
                  <mat-label>Address line 1</mat-label>

                  <input
                    matInput
                    [(ngModel)]="shippingAddress.line1"
                    type="text"
                    name="shippingAddress_1"
                  />
                </mat-form-field>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <p class="m-0">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Address line 2</mat-label>
                  <input
                    matInput
                    [(ngModel)]="shippingAddress.line2"
                    type="text"
                    name="shippingAddress_2"
                  />
                </mat-form-field>
              </p>
            </div>
            <div class="col-lg-3 pl-0">
              <p class="m-0">
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>Pincode</mat-label>
                  <input
                    matInput
                    [(ngModel)]="shippingAddress.pin"
                    type="number"
                    name="shippingAddress_pincode"
                  />
                </mat-form-field>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <p>
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>District</mat-label>
                  <input
                    matInput
                    [(ngModel)]="shippingAddress.district"
                    type="text"
                    name="shippingAddress_district"
                  />
                </mat-form-field>
              </p>
            </div>
            <div class="col-lg-6">
              <p>
                <mat-form-field appearance="outline" style="width: 100%">
                  <mat-label>State</mat-label>
                  <input
                    matInput
                    [(ngModel)]="shippingAddress.state"
                    type="text"
                    name="shippingAddress_pincode"
                  />
                </mat-form-field>
              </p>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <h5 class="my-3 font-weight-light">Item Summary</h5>

  <!-- Form Begins -->

  <form>
    <div class="row mt-3" *ngFor="let item of items; index as i">
      <div class="ml-3" style="display: flex; align-items: center">
        <h5>{{ i + 1 + "." }}</h5>
      </div>

      <!-- Product -->

      <div class="col-lg-3">
        <p class="m-0">
          <mat-form-field
            class="my-form-field"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label> Type / Select Product name</mat-label>

            <input
              matInput
              required
              [(ngModel)]="item.name"
              type="text"
              name="product_{{ i }}"
              placeholder="Pick one"
              aria-label="Number"
              [matAutocomplete]="autoProduct"
              [formControl]="controls[i]"
            />

            <mat-autocomplete
              #autoProduct="matAutocomplete"
              (optionSelected)="productSelected($event.option.value, i)"
            >
              <mat-option
                *ngFor="let option of observables[i] | async"
                [value]="option.name"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </p>
      </div>

      <!-- Unit -->

      <div class="col-lg-1">
        <p class="m-0">
          <mat-form-field
            class="my-form-field"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>Unit</mat-label>

            <input
              matInput
              required
              type="text"
              [(ngModel)]="item.unit"
              name="unit_{{ i }}"
              placeholder="Pick one"
              aria-label="Number"
              [matAutocomplete]="autoUnit"
              [formControl]="unitControls[i]"
            />

            <mat-autocomplete
              #autoUnit="matAutocomplete"
              (optionSelected)="unitSelected($event.option.value, i)"
            >
              <mat-option
                *ngFor="let option of unitObservables[i] | async"
                [value]="option.unit"
              >
                {{ option.unit }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </p>
      </div>

      <!-- Price -->

      <div class="col-lg-1">
        <p class="m-0">
          <mat-form-field
            class="my-form-field"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>Price (&#8377;)</mat-label>
            <input
              name="price_{{ i }}"
              [(ngModel)]="item.price"
              matInput
              required
              type="number"
              min="0"
              onkeyup="if(this.value<0){this.value= this.value * -1}"
            />
          </mat-form-field>
        </p>
      </div>

      <!-- Qty / Pcs -->

      <div class="col-lg-1">
        <p class="m-0">
          <mat-form-field
            class="my-form-field"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>Qty / Pcs</mat-label>
            <input
              name="qty_{{ i }}"
              [(ngModel)]="item.qty"
              (ngModelChange)="calculate($event)"
              matInput
              required
              type="number"
              min="1"
              onkeyup="if(this.value<0){this.value= this.value * -1}"
            />
          </mat-form-field>
        </p>
      </div>

      <!-- Discount -->

      <div class="col-lg-1">
        <p class="m-0">
          <mat-form-field
            class="my-form-field"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>Discount (&#8377;)</mat-label>
            <input
              name="discount_{{ i }}"
              [(ngModel)]="item.discount"
              matInput
              required
              type="number"
              min="0"
              onkeyup="if(this.value<0){this.value= this.value * -1}"
            />
          </mat-form-field>
        </p>
      </div>

      <!-- TAX / GST -->

      <div class="col-lg-2">
        <p class="m-0">
          <mat-form-field
            class="my-form-field"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>TAX / GST (%)</mat-label>

            <mat-select required name="tax_{{ i }}" [(ngModel)]="item.tax">
              <mat-option *ngFor="let option of optionsTax" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </div>

      <!-- TAX -->

      <div class="col-lg-1">
        <p class="m-0">
          <mat-form-field
            class="my-form-field"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>TAX (&#8377;)</mat-label>
            <input
              readonly
              name="taxValue_{{ i }}"
              value="{{ calculate(item) }}"
              matInput
              type="number"
            />
          </mat-form-field>
        </p>
      </div>

      <!-- Total -->

      <div class="col-lg-1">
        <p class="m-0">
          <mat-form-field
            class="my-form-field"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label>Total (&#8377;)</mat-label>
            <input
              readonly
              name="total_{{ i }}"
              [(ngModel)]="item.total"
              matInput
              type="number"
            />
          </mat-form-field>
        </p>
      </div>

      <div class="col">
        <button
          class="mt-2"
          mat-raised-button
          color="warn"
          (click)="removeItem(i)"
        >
          <i class="fas fa-trash text-white py-3" style="font-size: 1.4em"></i>
        </button>
      </div>
    </div>
  </form>

  <div class="row my-2 mb-5">
    <div style="margin: auto">
      <button
        class="mr-2 mt-2"
        mat-raised-button
        color="warn"
        (click)="addItem()"
      >
        <i class="fas fa-plus text-white py-3" style="font-size: 1.4em"></i>
        Add new item
      </button>
    </div>
  </div>

  <div class="row my-2 mb-5"></div>

  <div
    class="row p-2"
    style="background-color: #123548; position: fixed; bottom: 0; width: 100%"
  >
    <button
      class="ml-3 btn-primary"
      mat-raised-button
      (click)="openPreviewDialog()"
    >
      <i class="fas fa-eye text-white py-3" style="font-size: 1.6em"></i>
      &nbsp; Preview
    </button>

    <button class="ml-4 btn-success" mat-raised-button (click)="addItem()">
      <i class="fas fa-check text-white py-3" style="font-size: 1.6em"></i>
      &nbsp; Create Invoice
    </button>

    <button class="ml-4 btn-info" mat-raised-button (click)="downloadPDF()">
      <i class="fas fa-save text-white py-3" style="font-size: 1.6em"></i>
      &nbsp; Save as Draft
    </button>

    <button
      class="ml-4"
      mat-raised-button
      color="warn"
      (click)="goBackToInvoiceComponent()"
    >
      <i class="fas fa-times text-white py-3" style="font-size: 1.6em"></i>
      &nbsp; Cancel
    </button>

    <div class="col-lg-2 ml-auto">
      <h6 class="text-light">TAX : &#8377; {{ calculateTotalTax() }}</h6>
      <h5 class="text-light mb-0">Total : &#8377; {{ calculateTotal() }}</h5>
    </div>
  </div>
</div>
